# macOS
.DS_Store
._.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignore large data files
data/**
MNIST_data/

# ... but include R scripts
!data/*
!data/**/*.R

# Jupyter Notebooks
*.ipynb
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Exclude these files
.Rhistory
data/**/.Rhistory
data/**/.DS_Store

# Ignore results and slurm logs
docs/*
results/*
slurm/archive/
*.out

# JetBrains IDE
.idea/
.Rproj.user

# Visual Studio Code
.vscode/

# Office Documents
~$*.xls*
